/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.env.bk
/tests/_output/*
git_tag
/_ide_helper.php
admin-test.token
*__notes
git_commands
/_composer_pkgs.ignore
