/.idea
/node_modules
/public/hot
/public/storage
/resources/assets/bower
/storage/*.key
/tests/_output/*
/vendor
/*__notes
/_composer_pkgs.ignore
/_ide_helper.php
/.env*
/.phpstorm.meta.php
/admin-test.token
/git_tag
/Homestead.json
/Homestead.yaml
/git_commands
